In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Sep 23 01:27:06 2020

@author: aniruddha maiti
"""

import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt

# Part 1. Data Wrangling/Feature Engineering

In [2]:
# Read Data Files

# diagnoses : ICD9 codes for diagnoses 
diagnoses = pd.read_csv('diagnoses.csv') # diagnoses 600381 x 6

#clinical notes for the sample cohort 
notes_small_cohort_v2 = pd.read_csv('notes_small_cohort_v2.csv') # notes_small_cohort_v2 39367 x 11

# labs_cohort : laboratory results for each patient, at each charttime 
labs_cohort = pd.read_csv('labs_cohort.csv') # labs_cohort 9947103 x 6

# vitals_cohort_sirs :  vital signs for each patient at each charttime 
vitals_cohort_sirs = pd.read_csv('vitals_cohort_sirs.csv') # vitals_cohort_sirs 20633223 x 6

* variables: *
** Subject_id:** unique identifier of the subject
** Hadm_id: :** unique identifier of the admission, could be multiple admissions per subject
** Icustay_id:** unique identifier of the icu stay, possibly multiple of these per admission if a patient is transfer into and out of the icu multiple times in an admission 
** Charttime:** timestamp for the clinical observation

In [28]:
# check diagnoses dataframe 
diagnoses.head() # 600381 x 6

   row_id  subject_id  hadm_id  seq_num icd9_code   mimic_id
0       4           3   145834      1.0       389  335873220
1       5           3   145834      2.0     78559  335873221
2       6           3   145834      3.0      5849  335873222
3       7           3   145834      4.0      4275  335873223
4       8           3   145834      5.0     41071  335873224

In [30]:
len(notes_small_cohort_v2["subject_id"].unique())

1000

In [6]:
# check clinical notes
notes_small_cohort_v2.head() # 39367 x 11

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,note_text
0,44005,3,145834,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
1,94503,3,145834,2101-10-21,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: S/P Car...
2,94502,3,145834,2101-10-21,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Left ve...
3,272787,3,145834,2101-10-26,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm\nP-R interval increased\nLate R w...
4,769043,3,145834,2101-10-24,2101-10-24 08:05:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-24**] 8:05 AM\n CHEST (PORTABLE AP)...

In [15]:
# check few variables that might be required later for SEPSIS identification
print("Category of notes : ", notes_small_cohort_v2.category.unique())
print("Description of notes : ", notes_small_cohort_v2.description.unique())

Category of notes :  ['Discharge summary' 'Echo' 'ECG' 'Radiology' 'Nursing/other' 'Nursing'
 'Physician ' 'General' 'Respiratory ' 'Nutrition' 'Social Work'
 'Case Management ' 'Pharmacy' 'Rehab Services' 'Consult']
Description of notes :  ['Report' 'CHEST (PORTABLE AP)' 'VIDEO OROPHARYNGEAL SWALLOW'
 'CT ABDOMEN W/O CONTRAST' 'LIVER OR GALLBLADDER US (SINGLE ORGAN)'
 'BILAT LOWER EXT VEINS' 'RENAL TRANSPLANT U.S.'
 'R RENAL TRANSPLANT U.S. RIGHT' 'R UNILAT LOWER EXT VEINS RIGHT'
 'ART EXT (REST ONLY)' 'O ABDOMEN (SUPINE ONLY) IN O.R.'
 'EMERG BILAT LOWER EXT VEINS' 'P RENAL TRANSPLANT U.S. PORT' 'Addendum'
 'CT HEAD W/O CONTRAST' 'P RENAL U.S. PORT' 'CT C-SPINE W/O CONTRAST'
 'MR HEAD W & W/O CONTRAST' 'CTA HEAD W&W/O C & RECONS'
 'MR HEAD W/ CONTRAST' 'CHEST (PRE-OP PA & LAT)'
 'CT STEREOTAXIS W/ CONTRAST' 'BONE SCAN' 'O CHEST (PORTABLE AP) IN O.R.'
 'T-SPINE' 'TRAUMA #2 (AP CXR & PELVIS PORT)' 'CT L-SPINE W/O CONTRAST'
 'CTA NECK W&W/OC & RECONS' 'CT T-SPINE W/O CONTRAST'
 'MR HEAD W/O CONTRAST' 'L KNEE (AP, LAT & OBLIQUE) LEFT' 'PTA VENOUS'
 'CHEST PORT. LINE PLACEMENT' 'CT PELVIS W/CONTRAST'
 'L MR ANKLE W&W/O CONTRAST LEFT' 'BP FOOT AP,LAT & OBL BILAT PORT'
 'PORTABLE ABDOMEN' 'P LIVER OR GALLBLADDER US (SINGLE ORGAN) PORT'
 'CHEST (PA & LAT)' 'Nursing Progress Note' 'Nursing Transfer Note'
 'Intensivist Note' 'UNILAT LOWER EXT VEINS'
 'B EMERG. LOWER EXT VEINS BILAT' 'CT CHEST W/CONTRAST'
 'CTA CHEST W&W/O C &RECONS' 'CHEST (LAT DECUB ONLY)'
 'CAROTID SERIES COMPLETE' 'BILAT UP EXT VEINS US' 'PICC W/O PORT'
 'P BILAT LOWER EXT VEINS PORT' 'CT CHEST W/O CONTRAST'
 'CTA CHEST W&W/O C&RECONS, NON-CORONARY' 'PERSANTINE MIBI'
 'CT ABDOMEN W/CONTRAST' 'NASO-INTESTINAL TUBE PLACEMENT (W/FLUORO)'
 'BY SAME PHYSICIAN' 'MR CONTRAST GADOLIN' 'CT 100CC NON IONIC CONTRAST'
 'CT GUIDED NEEDLE PLACTMENT' 'MR CARDIAC' 'O L-SPINE (AP & LAT) IN O.R.'
 'MR THORACIC SPINE W/O CONTRAST' 'O T-SPINE IN O.R.'
 'L LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST LEFT'
 'OL ANKLE 1 VIEW IN O.R. LEFT'
 'LO LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST LEFT IN O.R.'
 'L TIB/FIB (AP & LAT) LEFT' 'DISTINCT PROCEDURAL SERVICE' 'RENAL U.S.'
 'PARACENTESIS DIAG. OR THERAPEUTIC' 'ABDOMEN U.S. (PORTABLE)'
 'ABDOMEN (SUPINE & ERECT)' 'R HIP UNILAT MIN 2 VIEWS RIGHT'
 'MRI ABDOMEN W/O & W/CONTRAST' 'CT ABD W&W/O C'
 'FDG TUMOR IMAGING (PET-CT)' 'MR-ANGIO HEAD'
 'L ABDOMEN (WITH LAT DECUB) LEFT' 'CT PELVIS W/O CONTRAST'
 'FEE ADJUSTED IN SPECIFIC SITUATION' 'BY DIFFERENT PHYSICIAN'
 'C-SPINE (PORTABLE)' 'SEL CATH 3RD ORDER THOR'
 'LP UNILAT UP EXT VEINS US LEFT PORT' 'CT RECONSTRUCTION'
 'INITAL 3RD ORDER ABD/PEL/LOWER EXT A-GRAM' 'UD GUID FOR NEEDLE PLACMENT'
 'CTA ABD W&W/O C & RECONS' 'FLUOR GUID PLCT/REPLCT/REMOVE'
 'LP ELBOW (AP, LAT & OBLIQUE) LEFT PORT' 'L FOREARM (AP & LAT) LEFT'
 'INTERUP IVC' 'L ELBOW, AP & LAT VIEWS LEFT'
 'PL FOREARM (AP & LAT) PORT LEFT'
 'CT SINUS/MANDIBLE/MAXILLOFACIAL W/O CONTRAST'
 'POB SHOULDER (AP, NEUTRAL & AXILLARY) TRAUMA PORT IN O.R. BILAT'
 'O PORTABLE ABDOMEN IN O.R.'
 'R SHOULDER (AP, NEUTRAL & AXILLARY) TRAUMA RIGHT'
 'LP FOREARM (AP & LAT) LEFT PORT' 'L ELBOW (AP, LAT & OBLIQUE) LEFT'
 'INTRA VAS FB RETRIEVAL' 'P CHEST (SINGLE VIEW) PORT' 'CARDIAC PERFUSION'
 'Physician Resident Progress Note' 'Physician Attending Progress Note'
 'Physician Attending Admission Note - MICU' 'ICU Event Note'
 'Respiratory Care Shift Note' 'Physician Resident Admission Note'
 'Clinical Nutrition Note'
 'Physician Resident/Attending Admission Note - MICU' 'Attending Note'
 'Generic Note' 'Physician Resident/attending Progress Note - MICU'
 'Physician Attending/Resident Admission Note - MICU'
 'Social Work Admission Note' 'MICU Attending Admission Note'
 'Physician Resident/Attending Progress Note - MICU'
 'Case Management Initial Assessment' 'Case Management - Discharge Plan'
 'GUIDANCE/LOCALIZATION FOR NEEDLE BIOPSY US (S&I)' 'TUNNELED W/O PORT'
 'VEN DUP EXTEXT BIL (MAP/DVT)' 'CT ORBIT, SELLA & IAC W/O CONTRAST'
 'MRA KIDNEY W/O CONTRAST' 'CHEST (SINGLE VIEW)' 'L-SPINE (AP & LAT)'
 'MR L SPINE W/O CONTRAST' 'MRA CHEST W/O CONTRAST'
 'L UNILAT UP EXT VEINS US LEFT' 'ABD (SINGLE VIEW ONLY)'
 'R MR HIP W/O CONRAST RIGHT' 'LUNG SCAN' 'MRV CHEST W/O CONTRAST'
 'INTRO CATH SVC/IVC' 'LP WRIST(3 + VIEWS) LEFT PORT' 'NECK SOFT TISSUES'
 'US ABD LIMIT, SINGLE ORGAN' 'INJ EXTREMITY VENOGRAM' 'Medication Note'
 'Physician Attending Admission Note' 'BP meds' 'Initial H&P'
 'ICU Attending' 'Nursing admit 2100 - 0700' 'Resident / Attending Notes'
 'Nursing admit' 'MR C-SPINE W& W/O CONTRAST' 'US INTR-OP 60 MINS'
 'CT ABSESSOGRAM' 'PELVIS, NON-OBSTETRIC' 'UNILAT UP EXT VEINS US'
 'DUPLEX DOPP ABD/PEL' 'INSERT HEPATIC HUNT TIPS'
 'P CHEST (LAT DECUB ONLY) PORT' 'P ABDOMEN U.S. (COMPLETE STUDY) PORT'
 'NON-TUNNELED' 'CHEST FLUORO WITHOUT RADIOLOGIST'
 'P CHEST (PRE-OP AP ONLY) PORT' 'ART DUP EXT LO UNI;F/U'
 'Physician Surgical Admission Note' 'ABD COMPL INCLUDING LAT DECUB'
 'Physical Therapy Evaluation Note' 'Physical Therapy Contact Note'
 'MRI CHEST/MEDIASTINUM W/O & W/CONTRAST' 'EXT UNILAT A-GRAM'
 'RP KNEE (AP, LAT & OBLIQUE) RIGHT PORT' 'CAROTID LMTD/ DPP'
 'MMS SUGICAL PLANNING SERVICE' 'SEL CATH 2ND ORDER' 'SCROTAL U.S.'
 'SKULL AP&LAT/C-SP/CXR/ABD SLG VIEWS MR SCREENING'
 'R KNEE (AP, LAT & OBLIQUE) RIGHT' 'O THOR SP,SINGLE FILM IN O.R.'
 'CT HEAD W/ & W/O CONTRAST' 'P PELVIS (AP ONLY) PORT' 'MR CERVICAL SPINE'
 'C-SPINE, TRAUMA' 'C-SPINE SGL 1 VIEW'
 'C-SPINE NON-TRAUMA W/FLEX & EXT 4 VIEWS' 'P ABDOMEN (SUPINE ONLY) PORT'
 'RETROPERITONEAL LIMITED US' 'P CHEST PORT. LINE PLACEMENT PORT'
 'CHANGE GASTROSTOMY TUBE' 'G/GJ TUBE CHECK'
 'P US ABD LIMIT, SINGLE ORGAN PORT' 'CENTRAL TUNNELED W/O PORT'
 'B MR HIP W&W/O CONTRAST BILAT' 'B CT LOWER LIMB W/O CONTRAST BILAT'
 'R FEMORAL VASCULAR US RIGHT' 'B KNEE (2 VIEWS) BILAT'
 'P TRAUMA #2 (AP CXR & PELVIS PORT) PORT'
 'CT ORBITS, SELLA & IAC W/ CONTRAST' 'PELVIS (AP ONLY)'
 'P UNILAT UP EXT VEINS US PORT' 'CATH INFUSN,PER/CENT/MID(NOT DIAL)'
 'R ANKLE (AP, LAT & OBLIQUE) RIGHT' 'RP UNILAT UP EXT VEINS US RIGHT PORT'
 'UGI AIR W/KUB' 'CT HEPATIC DRAINAGE' 'EXERCISE MIBI'
 'UGI SGL CONTRAST W/ KUB' 'US HEPATOTOMY DRAIN ABSCESS/CYST'
 'CT CHEST W&W/O C' 'P NECK SOFT TISSUES PORT'
 'P CAROTID SERIES COMPLETE PORT' 'TC WHITE BLOOD CELL STUDY'
 'R HUMERUS (AP & LAT) RIGHT' 'TRANSCATH PLCMT INTRAVAS STENT'
 'TRANSCATHETER INFUSION FOR LYSIS' 'CT NECK W/O CONTRAST (EG: PAROTIDS)'
 'ABDOMEN U.S. (COMPLETE STUDY)' 'CT HEAD W/ CONTRAST'
 'L UNILAT LOWER EXT VEINS LEFT' 'CT NECK W/CONTRAST (EG:PAROTIDS)'
 'RP HUMERUS (AP & LAT) RIGHT PORT' 'RP FEMUR (AP & LAT) RIGHT PORT'
 'ABDOMEN (SUPINE ONLY)' 'R UNILAT UP EXT VEINS US RIGHT'
 'R US EXTREMITY NONVASCULAR RIGHT'
 'REPOSITION CENTRAL VENOUS CATH W/FLUORO'
 'Physician Fellow / Attending Progress Note - MICU' 'MICU Admission Note'
 'CHALNAGIOGRAPHY VIA EXISTING CATHETER' 'R CHEST U.S. RIGHT'
 'REMOVE TUNNELED CENTRAL W/O PORT' 'LUMBO-SACRAL SPINE (AP & LAT)'
 'INC/DRAINAGE ABSCESS COMPLEX' 'RIB BILAT, W/AP CHEST' 'GALLIUM SCAN'
 'L CHEST U.S. LEFT' 'MR L-SPINE W & W/O CONTRAST'
 'INJ NEPHROSTOMY/PYLOSTOMY' 'MR ABDOMEN W&W/O CONTRAST'
 'ORBITS (WATERS, CALDWELL & LAT)' 'P CHEST (BOTH OBLIQUES ONLY) PORT'
 'CTU (ABD/PEL) W/O CONTRAST' 'INTRO CATH RENAL PELVIS FOR DRAINAGE'
 'INTRO CATH OR STENT INTO URETHER' 'EMBO TRANSCRANIAL' 'ICU Note - CVI'
 'ART EXT SGL LEVEL' 'Physical Therapy Progress Note' 'CVICU'
 'R CT LOW EXT W/O C RIGHT' 'R MR KNEE W&W/O CONTRAST RIGHT'
 'RO PATELLA (AP, LAT & SUNRISE) RIGHT IN O.R.'
 'R KNEE 2 VIEW PORTABLE RIGHT' 'UGI AIR' 'N-G TUBE PLACEMENT (W/ FLUORO)'
 'BAS/UGI' 'PERIPHERAL W/O PORT' 'VENOUS DUP UPPER EXT BILATERAL'
 'RP FEMORAL VASCULAR US RIGHT PORT' 'VENOUS DUP EXT UNI (MAP/DVT)'
 'FEMORAL VASCULAR US' 'C-SPINE FLEX AND EXT ONLY 2 VIEWS'
 'COMPLETE GU U.S. (BLADDER & RENAL)' 'O CHEST (SINGLE VIEW) IN O.R.'
 'P SCROTAL U.S. PORT' 'CHEST (PRE-OP AP ONLY)' 'L FEMUR (AP & LAT) LEFT'
 'OL KNEE (PORTABLE) IN O.R. LEFT' 'OPL KNEE (2 VIEWS) IN O.R. PORT LEFT'
 'R KNEE (2 VIEWS) RIGHT' 'FOLLOW-UP,REQUEST BY RAD.' 'GALLBLADDER SCAN'
 'PERC PORTAL VEIN CATH' 'BX-NEEDLE KIDNEY BY NEPHROLOGIST'
 'L HAND (AP, LAT & OBLIQUE) LEFT' 'Cardiology follow-up'
 'Bedside Swallow Evaluation' 'Cardiology Consult'
 'Physician Surgical Progress Note' 'ENDOVAS ABD REP W/MOD BIF PROS'
 'CT EMERGENCY HEAD W/O CONTRAST' 'CHEST CTA WITH CONTRAST'
 'EXTCHG/INF CATH' 'ERCP BILIARY&PANCREAS BY GI UNIT'
 'MRI PELVIS W/O & W/CONTRAST' 'CHEST U.S.'
 'MRA CAROTID/VERTEBRAL W/O CONTRAST' 'PERC PLCMT GASTROMY TUBE'
 'VERT/CAROTID A-GRAM' 'MR C-SPINE SCAN WITH CONTRAST' 'GI BLEEDING STUDY'
 'MR ABDOMEN W/O CONTRAST' 'B FEMUR (AP & LAT) BILAT'
 'ORO FEMUR (AP & LAT) IN O.R. RIGHT IN O.R.' 'R FEMUR (AP & LAT) RIGHT'
 'L ANKLE (AP, MORTISE & LAT) LEFT' 'LO FEMUR (AP & LAT) LEFT IN O.R.'
 'CT SINUS W/ CONTRAST' 'RP WRIST (AP & LAT) SOFT TISSUE RIGHT PORT'
 'CT CERVICAL W&W/O CONSTRAST'
 'O ABDOMINAL FLUORO WITHOUT RADIOLOGIST IN O.R.'
 'MR CERVICAL SPINE W/O CONTRAST' 'R WRIST(3 + VIEWS) RIGHT'
 'CT UP EXT W/O C' 'RP WRIST(3 + VIEWS) RIGHT PORT'
 'RP SHOULDER (AP, NEUTRAL & AXILLARY) TRAUMA RIGHT PORT'
 'US MULT/COMP ABSC/CYST DRAIN/INCISION' 'CT THORACIC W&W/O CONTRAST'
 'R FOOT AP,LAT & OBL RIGHT' 'UGI SGL W/O KUB' 'CCU Fellow Admission Note'
 'L FOOT AP,LAT & OBL LEFT' 'SMALL BOWEL ONLY (BARIUM)'
 'TRAUMA SERIES (LAT C-SPINE, AP CXR, AP PELVIS PORT)'
 'P PELVIS (AP, INLET & OUTLET) PORT'
 'Repeat Bedside Swallowing Evaluation'
 'Residnet / Attending Admission Notes'
 'L CTA LOWER EXT W/&W/O C & RECONS LEFT' 'REST THALLIUM'
 'O CHEST FLUORO WITHOUT RADIOLOGIST IN O.R.'
 'PL ABDOMEN (WITH LAT DECUB) PORT LEFT' 'P ABDOMEN (SUPINE & ERECT) PORT'
 'CVL/PICC' 'MR HEAD NEURO' 'B KNEE (AP, LAT & OBLIQUE) BILAT'
 'CENTRAL VENOUS LINE PLACEMENT' 'LP HIP UNILAT MIN 2 VIEWS LEFT PORT'
 'OPL FEMUR (AP & LAT) IN O.R. PORT LEFT' 'L HIP UNILAT MIN 2 VIEWS LEFT'
 'L HIP 1 VIEW LEFT' 'P DUPLEX DOPP ABD/PEL PORT'
 'ENDOVASCUALR REPAIR OF ABD AORTA' 'B MRA LEG W&W/OC BILAT'
 'F/U STATUS INFUSION/EMBO' 'CT PERITINEAL DRAIN EXCLUDING APPENDICEAL'
 'CHOLANGIOGRAM,IN OR W FILMS' 'EMBO NON NEURO'
 'P PELVIS, NON-OBSTETRIC PORT' 'LP UNILAT BREAST US LEFT PORT'
 'B BILAT DIAGNOSTIC MAMMOGRAM BILAT' 'CENTRAL NON-TUNNELED'
 'MRA CHEST W&W/O CONTRAST' 'MR T-SPINE W &W/O CONTRAST'
 'INJ-VENO/PAC/HICKMAN INCL INTRO OF CATH' 'C-SPINE NON-TRAUMA 2 VIEWS'
 'O C-SPINE (PORTABLE) IN O.R.' '2ND ORDER OR> VENOUS SYSTEM'
 'RO ANKLE (AP, LAT & OBLIQUE) RIGHT IN O.R.' 'R ANKLE (2 VIEWS) RIGHT'
 'B ANKLE (AP, MORTISE & LAT) BILAT' 'L WRIST(3 + VIEWS) LEFT'
 'L HUMERUS (AP & LAT) LEFT' 'Case Managment Initial Patient Assessment'
 'R HUMERUS (AP & LAT) SOFT TISSUE RIGHT' 'TEETH (PANOREX FOR DENTAL)'
 'R FOREARM (AP & LAT) SOFT TISSUE RIGHT' 'C-SPINE NON-TRAUMA 2-3 VIEWS'
 'US EXTREMITY NONVASCULAR' 'CT GUIDANCE DRAINAGE'
 'CATH,HEMO/PERTI DIALYSIS LONG TERM' 'US GUID FOR VAS. ACCESS'
 'CT 150CC NONIONIC CONTRAST' 'CT RETROPERITONEAL DRAINAGE'
 'ILEOGRAPHY/LOOPOGRAM' 'FISTULOGRAM/SINOGRAM' 'P ERCP S&I (74330) PORT'
 'ESOPHAGUS' 'ICU Fellow Progress Note - MICU'
 'ICU Fellow Admission Note - MICU'
 'ICU Fellow/Attending Admission Note - MICU'
 'MICU Resident Admission Note' 'T ENDO STENT GRAFT THORAC ANEURYSM W/SUB'
 'RP ELBOW (AP, LAT & OBLIQUE) RIGHT PORT'
 'OR LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST IN O.R. RIGHT'
 'INTRO PERC TRNASHEPATIC STENT' 'PR UNILAT LOWER EXT VEINS PORT RIGHT'
 'CT LOC DRAINAGE' 'MR THORACIC SPINE' 'L KNEE (2 VIEWS) LEFT'
 'R MR KNEE W/O CONTRAST RIGHT' 'B CT LOW EXT W/O C BILAT'
 'O ABDOMEN, SINGLE VIEW IN O.R.' 'UPPER EXTREM VEINS US'
 'PR ABDOMEN (LAT DECUB ONLY) PORT RIGHT' 'T-TUBE CHOLANGIO (POST-OP)'
 'BX-NEEDLE LIVER BY RADIOLOGIST' 'TRANSCATHETER BIOPSY'
 'REPOSITION GASTRIC TUBE INTO DUODENUM' 'PTA BRACHIOCEPHAL EA VESSEL'
 'CT PELVIS W&W/O C' 'REDUCED SERVICES'
 'L SHOULDER (AP, NEUTRAL & AXILLARY) TRAUMA LEFT'
 'O C-SPINE SGL 1 VIEW IN O.R.' 'PLEURAL ASP BY RADIOLOGIST'
 'REPOSITION CATHETER' 'MRI ABDOMEN W/O CONTRAST' 'ABDOMINAL AORTOGRAM'
 "T-L SPINE 3' FILM AP & LAT" 'R ELBOW, AP & LAT VIEWS RIGHT'
 'MR PELVIS W/O CONTRAST' 'L US EXTREMITY NONVASCULAR LEFT'
 'GUIDANCE PERC TRANS BIL DRAINAGE US' 'B UNILAT UP EXT VEINS US BILAT'
 'REMOVAL IMPLANT VEN PORT' 'IMPLANT VENOUS ACCESS PORT'
 'IN-111 WHITE BLOOD CELL STUDY' 'P CHEST U.S. PORT'
 'P VEN DUP EXTEXT BIL (MAP/DVT) PORT' 'R TIB/FIB (AP & LAT) RIGHT'
 'RO LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST RIGHT IN O.R.'
 'RP TIB/FIB (AP & LAT) RIGHT PORT'
 'P TRAUMA SERIES (LAT C-SPINE, AP CXR, AP PELVIS PORT) PORT'
 'VISERAL SEL/SUPERSEL A-GRAM' 'ERCP S&I (74330)'
 'O C-SPINE NON-TRAUMA 2-3 VIEWS IN O.R.' 'CT ABD BX'
 'L ABDOMEN (LAT DECUB ONLY) LEFT' 'Discharge Planning Note'
 'MICU attending progress note' 'ICU Attending Note'
 'LP UNILAT LOWER EXT VEINS LEFT PORT' 'R HAND (AP, LAT & OBLIQUE) RIGHT'
 'L ANKLE 1 VIEW LEFT' 'O PELVIS (AP ONLY) IN O.R.'
 'PELVIS WITH JUDET VIEWS' 'L SHOULDER 1 VIEW LEFT'
 'C-SPINE TRAUMA W.OBL 4 VIEWS' 'RO HIP UNILAT MIN 2 VIEWS RIGHT IN O.R.'
 'P HIP 1 VIEW PORT' 'O L-SPINE (AP,LAT,FLEX,EXT) IN O.R.'
 'CT MUSCLE (SOFT TISSUE) BX' 'MRA BRAIN W/O CONTRAST'
 'CATH,HEM/PERTI DIALYSIS SHORT TERM'
 'CHANGE PERC BILIARY DRAINAGE CATHETER' 'REVISN HEPATIC SHUNT TIPS'
 'DUPLEX DOP ABD/PEL LIMITED' 'P ABD (SINGLE VIEW ONLY) PORT'
 'EA 1ST ORDER ABD/PEL/LOWER EXT A-GRAM' 'MR L SPINE SCAN'
 'BILIARY STRICTURE DILATION NO STENT' 'LP HUMERUS (AP & LAT) LEFT PORT'
 'ABDOMEN, SINGLE VIEW' 'LP FOREARM (AP & LAT) SOFT TISSUE LEFT PORT'
 'P BILAT UP EXT VEINS US PORT' 'CT TRACHEA W/C & W/RECONS'
 'R FOOT 2 VIEWS RIGHT' 'R ELBOW (AP & LAT) SOFT TISSUE RIGHT'
 'MR-ANGIO NECK WITHOUT CONTRAST' 'CARDIAC PERFUSION PERSANTINE'
 'MR ENTEROGRAPHY (74183&72197) SBFT' 'CT TRACHEA W&W/O C & 3D REND'
 'CAROTID/CEREBRAL BILAT' 'L CT LOW EXT W/O C LEFT' 'BAS/UGI AIR/SBFT'
 'Cardiology Fellow Addendum' 'P ART EXT SGL LEVEL PORT'
 'LP HEEL (AXIAL & LATERAL) LEFT PORT'
 'L HUMERUS (AP & LAT) SOFT TISSUE LEFT'
 'OL LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST IN O.R. LEFT'
 'OL KNEE( (SINGLE VIEW) IN O.R. LEFT' 'L MR KNEE W/O CONTRAST LEFT'
 'CTA AORTA/BIFEM/ILIAC RUNOFF W/W&WO C AND RECONS'
 'Cardiology Physician Note' 'Cardiology Comprehensive Physician Note'
 'Fellow Admit Addendum' 'CT UPPER LIMB W/O CONTRAST'
 'L UPPER EXTREMITY FLUORO WITHOUT RADIOLOGIST LEFT'
 'LP SHOULDER 1 VIEW LEFT PORT' 'FLUORO 1 HR W/RADIOLOGIST'
 'P CHEST FLUORO WITHOUT RADIOLOGIST PORT'
 'Case Management Continued Stay Review'
 'Resident Note / Attending Addendum' 'Respiratory'
 'Social Work Progress Note' 'Resident Progress Note/Attending Addendum'
 'Arterial Line' 'PT/Rehab Services'
 'PL SHOULDER 2-3 VIEWS NON TRAUMA PORT LEFT' 'SEL CATH 1ST ORDER'
 'INTRO AORTA FEM/AXIL' 'RP UNILAT LOWER EXT VEINS RIGHT PORT'
 'COLON (GASTROGRAF)' 'R EMERG. LOWER EXT VEINS RIGHT'
 'MR CARDIAC/FUNCTION, COMPL' 'R ARTHROGRAM,HIP RIGHT'
 'MRI PELVIS W/O CONTRAST' 'R PLEURAL ASP BY RADIOLOGIST RIGHT'
 'PELVIS PORTABLE' 'R CHEST (LAT DECUB ONLY) RIGHT'
 'CT CHEST W/CONT+RECONSTRUCTION' 'C-SPINE (WITH FLEX & EXT ONLY) **'
 'P C-SPINE, NON-TRAUMA PORT' 'ART DUP EXT LOW/BILAT COMP'
 'MR FOOT W&W/O CONTRAST' 'R MR SHOULDER W/O CONTRAST RIGHT'
 'RP FOOT AP,LAT & OBL RIGHT PORT'
 'P PARACENTESIS DIAG. OR THERAPEUTIC PORT' 'L FINGER(S),2+VIEWS LEFT'
 'R KNEE (PORTABLE) RIGHT' 'MULTI-PROCEDURE SAME DAY'
 'DRAINAGE HEMATOMA/FLUID' 'INTRO NEEDL/CATH VEIN'
 'ERCP BILIARY ONLY BY GI UNIT' 'P US DRAIN PELV ABSCESS PORT'
 'PELVIS LIMITED' 'ICU Physician Progress Note -- Attending and Resid'
 'BILAT HIPS (AP,LAT & AP PELVIS)' 'L INJ/ASO MAJOR JT W/FLUORO LEFT'
 'CT PELVIS ORTHO W/O C' 'MR HIP W&W/O CONTRAST'
 'P ORBITS (WATERS, CALDWELL & LAT) PORT' 'OP HIP 1 VIEW IN O.R. PORT'
 'Cardiology Fellow Admission Note' 'R FOREARM (AP & LAT) RIGHT'
 'LP CHEST WALL U.S. SCAN LEFT PORT' 'RENAL U.S. (PORTABLE)'
 'LO TIB/FIB (AP & LAT) LEFT IN O.R.' 'PERC PLCMT GASTROSOTMY TUBE'
 'PTA RENAL/VISERAL' 'R UPPER EXTREM VEINS US RIGHT'
 'B FOOT (AP & LAT) STANDING BILAT' 'R MR FOOT W/O CONTRAST RIGHT'
 'R VENOUS DUP EXT UNI (MAP/DVT) RIGHT'
 'C-SPINE, NON-TRAUMA (WITH FLEX & EXT)' 'C-SPINE, TRAUMA (WITH OBLS)'
 'INJ SINUS TRACT' 'CT ABD & PELVIS W/O CONTRAST' 'Cardiology Consult Note'
 'Cardiology Attending Consult Addendum' 'Bedside Swallowing Evaluation'
 'FLUORO GUID PLCT/REPLCT/REMOVE CENTRAL LINE' 'TUBE CHOLANGIOGRAM'
 'BP FEMUR (AP & LAT) BILAT PORT' 'B FOREARM (AP & LAT) BILAT'
 'B LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST BILAT'
 'P SINUSES, COMPLETE MIN 3 VIEWS PORT' 'P ART DUP EXT LO UNI;F/U PORT'
 'O LUMBAR SP,SINGLE FILM IN O.R.' 'INJ PROC. FOR MYLEO' 'BRAIN SCAN'
 'PERC TRANSHEPATIC CHOLANGIOGRAPHY' 'ABSCESSOGRAM'
 'L WRIST, AP & LAT VIEWS LEFT' 'O SKULL (AP, TOWNES & LAT) TRAUMA IN O.R.'
 'MANDIBLE (PA, TOWNES & BOTH OBLS)' 'MR CHEST/MEDIASTINUM W&W/O CONTRAST'
 'P T-SPINE PORT' 'NECK,SOFT TISSUE US'
 'OO LUMBAR SP,SINGLE FILM IN O.R. IN O.R.' 'MRCP (MR ABD W&W/OC)'
 'L MR ELBOW W/O CONTRAST LEFT' 'CT STEREOTAXIS NEURO W/ CONTRAST'
 'MRA LOWER EXT W&W/O CONTRAST' 'B FOOT AP,LAT & OBL BILAT'
 'AORTA AND BRANCHES' 'GUID WIRES INCL INF' 'P LUMBAR SP,SINGLE FILM PORT'
 'Attending Brief Note' 'MOD SEDATION, EACH ADDL 15 MIN.'
 'Cardiology consultation' 'CVL Insertion Replacement Procedure Note'
 'P VIDEO OROPHARYNGEAL SWALLOW PORT' 'B HUMERUS (AP & LAT) BILAT'
 'RO HUMERUS (AP & LAT) RIGHT IN O.R.' 'CT LUNG/MEDIASTINAL BX'
 'CT SINUS/MAXLIOFACIAL W/O CONTRAST' 'TRANSCATH INTRO INTRAVAS STENT(S)'
 'TRANSCATH THERAPY' 'LP FOOT AP,LAT & OBL LEFT PORT' 'L FOOT 2 VIEWS LEFT'
 'OL TIB/FIB (AP & LAT) IN O.R. LEFT' 'HIP 1 VIEW'
 'INTRO CFA/SFA/ILIAC/POP GRAFT' 'PR ART DUP EXT UP UNI LMTD PORT RIGHT'
 'CT TRACHEA W/O C W/3D REND' 'L RENAL TRANSPLANT U.S. LEFT'
 'PERSANTINE MIBI MIBI' 'CT FINE NEEDLE ASP'
 'LP HAND (AP, LAT & OBLIQUE) LEFT PORT'
 'LOWER EXTREMITY FLUORO WITHOUT RADIOLOGIST'
 'OR ANKLE (2 VIEWS) IN O.R. RIGHT' 'SACRUM/COCCYX'
 'P BLADDER VOLUMETRIC US PORT' 'MRA CAROTID/VERTEBRAL W&W/O CONTRAST'
 'INITAL 2ND ORDER ABD/PEL/LOWER EXT A-GRAM' 'C-SPINE (SINGLE VIEW ONLY)'
 'LUMBAR SPINAL PUNCTURE' 'LP CHEST (LAT DECUB ONLY) LEFT PORT'
 'MR-ANGIO NECK W & W/O CONTRAST' 'R TIB/FIB (AP & LAT) SOFT TISSUE RIGHT'
 'general' 'C-SPINE TRAUMA W/FLEX & EXT 5 VIEWS'
 'CT TRACHEA W/O C W/RECONS' 'CHEST AP ONLY'
 'L MR FOOT W&W/O CONTRAST LEFT' 'RVG' 'CAUTERIZE GRANULATION TISSUE'
 'INJ SINUS TRACT, THERAPUTIC' 'CVL INJ/EVAL INCLUDES FLUORO/IMAGES/REPORT'
 'MRA NECK W&W/O CONTRAST' 'MR BRACHIAL PLEXUS'
 'R ELBOW (AP, LAT & OBLIQUE) RIGHT' 'L-SPINE (AP,LAT,FLEX,EXT)'
 'PELVIS & SACRO-ILIAC' 'CT T-SPINE W/ CONTRAST' 'US INTRA-OP 120 MINS'
 'R ANKLE (AP, MORTISE & LAT) RIGHT' 'L VENOUS DUP EXT UNI (MAP/DVT) LEFT'
 'ABDOMINAL FLUORO WITHOUT RADIOLOGIST' 'EXCH CENTRAL TUNNELED W/O PORT'
 'L UNILAT BREAST US LEFT' 'B HEEL (AXIAL & LATERAL) BILAT'
 'L-SPINE (WITH OBLIQUE)'
 'O C-SPINE NON-TRAUMA W/FLEX & EXT 4 VIEWS IN O.R.'
 'O ABD (SINGLE VIEW ONLY) IN O.R.' 'B ELBOW, AP & LAT VIEWS BILAT'
 'IVC AND TRIBUTARIES US' 'UGI AIR W/ SBFT'
 'CT THORACENTESIS W/TUBE PLACMENT' 'L SHOULDER 2-3 VIEWS NON TRAUMA LEFT'
 'L MR SHOULDER W/O CONTRAST LEFT' 'P RIB, UNILAT (NO CXR) PORT'
 'OP ABDOMEN, SINGLE VIEW IN O.R. PORT' 'CAROTID DUPLEX US'
 'TRANSCATH EMBO THERAPY' "ADD'L 2ND/3RD ORDER"
 'PELVIS (AP, INLET & OUTLET)' 'PP ABDOMEN (SUPINE ONLY) PORT PORT'
 'B KNEE( (SINGLE VIEW) BILAT' 'RP HAND (AP, LAT & OBLIQUE) RIGHT PORT'
 'B CT UP EXT W/C BILAT' 'CT ABD & PELVIS WITH CONTRAST'
 'R CT UP EXT W/C RIGHT' 'R FINGER(S),2+VIEWS RIGHT'
 'Physician Attending/Resident Progress Note' 'TUNNELED CENTRAL W/O PORT'
 'LYMPHOSCINTIGRAPHY' 'GASTRIC EMPTYING STUDY' 'ABDOMINAL FLUORO'
 'CT TRACHEA W&W/O C & RECONS' 'MRA ABDOMEN W&W/O CONTRAST'
 'TRANSCATH PLCT STENTS, INITIAL VESSEL']

In [12]:
# print sample note_text
for idx, row in notes_small_cohort_v2.iloc[0:10].iterrows():
    print("####################  subject id : {0}  ####################".format(row.subject_id))
    print(row.note_text)

####################  subject id : 3  ####################
Admission Date:  [**2101-10-20**]     Discharge Date:  [**2101-10-31**]

Date of Birth:   [**2025-4-11**]     Sex:  M

Service:  Medicine

CHIEF COMPLAINT:  Admitted from rehabilitation for
hypotension (systolic blood pressure to the 70s) and
decreased urine output.

HISTORY OF PRESENT ILLNESS:  The patient is a 76-year-old
male who had been hospitalized at the [**Hospital1 190**] from [**10-11**] through [**10-19**] of [**2101**]
after undergoing a left femoral-AT bypass graft and was
subsequently discharged to a rehabilitation facility.

On [**2101-10-20**], he presented again to the [**Hospital1 346**] after being found to have a systolic
blood pressure in the 70s and no urine output for 17 hours.
A Foley catheter placed at the rehabilitation facility
yielded 100 cc of murky/brown urine.  There may also have
been purulent discharge at the penile meatus at this time.

On presentation to the Emergency Department, the patient was
without subjective complaints.  In the Emergency Department,
he was found to have systolic blood pressure of 85.  He was
given 6 liters of intravenous fluids and transiently started
on dopamine for a systolic blood pressure in the 80.s

PAST MEDICAL HISTORY:
 1.  Coronary artery disease with diffuse 3-vessel disease;
right-dominant, status post proximal left circumflex stent in
[**2101-7-9**] with occlusion of the distal left circumflex;
status post right coronary artery stent on [**2101-8-26**] (no
percutaneous coronary intervention to 99% diagonal left
circumflex, 80% small proximal left anterior descending
artery, or 80% small distal left anterior descending artery).
 2.  Congestive heart failure (with an ejection fraction
of 15% to 20%).
 3.  Type 2 diabetes with neuropathy.
 4.  Hypertension.
 5.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).
 6.  Alzheimer's dementia.
 7.  History of gastrointestinal bleed (while the patient was
taking eptifibatide).
 8.  Cardiac risk factors (with a baseline creatinine
of 1.4 to 1.6).
 9.  Hypercholesterolemia.
10.  History of methicillin-resistant Staphylococcus aureus
and Pseudomonas growth in wound cultures.
11.  Severe peripheral vascular disease; status post left
femoral-AT bypass graft on [**2101-10-11**].
12.  Chronic nonhealing foot ulcers.
13.  Recent right pedal cellulitis.

ALLERGIES:  The patient has no known drug allergies.

MEDICATIONS ON ADMISSION:
 1.  Vancomycin 1 g intravenously q.24h. for a level of less
than 15 (started on [**2101-10-4**]).
 2.  Levofloxacin 250 mg p.o. q.d. (started on [**2101-10-4**]).
 3.  Metronidazole 500 mg p.o. q.8h. (started on [**2101-10-4**]).
 4.  Heparin 5000 units subcutaneous b.i.d.
 5.  Simvastatin 40 mg p.o. q.d.
 6.  Lisinopril 5 mg p.o. q.d.
 7.  Furosemide 40 mg p.o. q.d.
 8.  Vitamin E 400 IU p.o. q.d.
 9.  Atenolol 25 mg p.o. q.d.
10.  Pantoprazole 40 mg p.o. q.d.
11.  Ascorbic acid 500 mg p.o. b.i.d.
12.  NPH 17 units b.i.d.
13.  Regular insulin sliding-scale.
14.  Bisacodyl 10 mg p.o./p.r. as needed.
15.  Docusate 100 mg p.o. b.i.d.
16.  Percocet 5/325 mg one tablet p.o. q.4-6h. as needed for
pain.
17.  Aspirin 81 mg p.o. q.d.
18.  Metoprolol 75 mg p.o. b.i.d.

SOCIAL HISTORY:  The patient is retired and had been living
at home with his wife prior to his admission to the hospital
on [**2101-10-11**]; he had been living at [**Hospital3 1761**] for the day prior to admission.  He is a
social drinker and has a 40-pack-year smoking history;
although, he quit smoking 20 years ago.

PHYSICAL EXAMINATION ON PRESENTATION:   Initial physical
examination revealed temperature was 96.1 degrees Fahrenheit,
heart rate was 83, blood pressure was 124/42 (following
administration of 3 liters of normal saline), respiratory
was 24, and his oxygen saturation was 100% on 2 liters nasal
cannula.  His heart had a regular rate and rhythm.  There
were normal first and second heart sounds.  There was a 2/6
systolic ejection murmur, and there were no rubs or gallops.
His lungs were clear to auscultation bilaterally.  His
abdomen was soft, nontender, and nondistended, and there were
hypoactive bowel sounds.  He had a palpable bypass graft
pulse, [**Hospital3 17394**] dorsalis pedis and posterior tibialis
pulses bilaterally; and his surgical incision was clean, dry,
and intact.  Please note that the above examination was done
by the Vascular Surgery team, which was the team that was
initially planning to admit the patient to the hospital.

PERTINENT LABORATORY DATA ON PRESENTATION:  On initial
laboratory evaluation the patient had a white blood cell
count of 12.7, hematocrit was 30.2, and platelets
were 282,000.  His PT was 13.5, PTT was 30.7, and INR
was 1.3.  His serum chemistries revealed sodium was 136,
potassium was 5.4, chloride was 99, bicarbonate was 25, blood
urea nitrogen was 53, creatinine was 3.2, and blood glucose
was 91.  His calcium was 8.2, magnesium was 2.4, and
phosphate was 4.8.  Blood cultures drawn on admission were
pending, but ultimately negative.  A urine culture taken on
admission was initially pending, but ultimately grew out
yeast.  A sputum culture taken on admission was also
initially pending, but ultimately also grew out yeast.

RADIOLOGY/IMAGING:  His admission chest x-ray demonstrated
stable prominence of the right main pulmonary artery; no
focal areas of consolidation; overall stable appearance of
the chest compared with a [**2101-10-15**] study.  No
radiographic evidence of congestive heart failure or
pneumonia.

His admission electrocardiogram demonstrated a sinus rhythm,
nonspecific inferior/lateral T wave changes, low QRS voltages
in the limb leads, and T wave changes in V5 and V6 when
compared with an electrocardiogram dated [**2101-10-12**].

An initial abdominal CT was a limited noncontrast examination
that demonstrated diffuse vascular calcifications.  No
evidence of an abdominal aortic aneurysm or free fluid,
incompletely imaged coronary artery calcification, a simple
left renal cyst, sigmoid diverticulosis, and an enlarged and
partially calcified prostate gland.

HOSPITAL COURSE BY SYSTEM:

1.  CARDIOVASCULAR:  The patient was initially admitted to
the Vascular Intensive Care Unit with hypotension, decreased
urine output, and acute renal failure; most likely secondary
to a presumed gram-negative urosepsis (although there were
never any positive culture data to confirm this diagnosis).

While boarding in the Medical Intensive Care Unit on the
night of admission, the patient had a sudden
cardiorespiratory arrest.  He was resuscitated with
epinephrine, lidocaine, and direct current cardioversion
times four.  He was also intubate for airway protection.

Following these measures, the patient returned to a sinus
rhythm with a systolic blood pressure of approximately 100;
the total time elapsed from the beginning of the arrest to
the return of a pulse was approximately 16 minutes.  He
subsequently required double pressors to maintain his blood
pressure.

An echocardiogram performed at the bedside demonstrated a
trivial pericardial effusion and a left ventricular ejection
fraction of 20% to 25% in the setting of tachycardia and a
hyperdynamic right ventricle; suggesting elevated right-sided
filling pressures.  Although the definitive etiology of this
arrest remained unknown, the most likely trigger was a
non-Q-wave myocardial infarction, as his troponin values were
elevated to greater than 50 following his arrest.

A repeat echocardiogram done on [**2101-10-21**]
demonstrated mild left atrial dilation, an ejection fraction
of 15% to 20%, resting regional wall motion abnormalities
including inferior, mid, and apical left ventricular
akinesis, depressed right ventricular systolic function, and
moderate mitral regurgitation.  Compared with the prior study
of [**2101-10-20**]; the left ventricular function was
unchanged.  There was moderate mitral regurgitation, and the
right ventricular function appeared worse.

On [**2101-10-21**], the patient was loaded with amiodarone
and was subsequently started on oral amiodarone.  The
following day, he was started on heparin intravenously given
his elevated serum troponin to greater than 50; this
medication was continued for 72 hours.  Given his elevated
troponins and non-Q-wave myocardial infarction, the patient
was a candidate for cardiac catheterization.

After discussions between the Medical Intensive Care Unit
team and the patient's family, however, the decision was made
to not pursue further invasive procedures given that the
patient had been made do not resuscitate/do not intubate
following the resuscitation mentioned above, and his family
no longer wished for aggressive resuscitating measures.

By [**2101-10-23**], he was off pressors and he was
restarted on a beta blocker and ACE inhibitor at low doses.

On the evening of [**2101-10-25**], the patient complained
of substernal chest pain that was relieved by NPG SL and
morphine.  He also had ST segment depressions in V2 and V3
that reverted to baseline after the resolution of his pain.
Therefore, the patient was again started on heparin;
although, this was discontinued on [**2101-10-26**] when
the patient ruled out for a myocardial infarction by cardiac
enzymes.  He again had substernal chest pain on [**2101-10-27**]; although, he had no electrocardiogram changes, and he
again ruled out for a myocardial infarction by cardiac
enzymes.

By hospital day four, the patient began to develop evidence
of congestive heart failure given his aggressive fluid
resuscitation, and gentle diuresis with furosemide was begun.
By the time of his transfer to the General Medicine Service
on [**2101-10-26**], the patient was still significantly
volume overloaded following his aggressive fluid
resuscitation in the Medical Intensive Care Unit.  Therefore,
he was continued on the program of gentle diuresis given that
he was having signs and symptoms of right-sided congestive
heart failure.  He achieved adequate diuresis by the time of
his discharge to rehabilitation, as his oxygen saturation was
greater than 95% on 2 liters nasal cannula.

2.  INFECTIOUS DISEASE/SEPSIS:  The patient was started on
gentamicin and piperacillin/tazobactam in addition to the
levofloxacin, metronidazole, and vancomycin he was already
taking for right lower extremity cellulitis prior to
admission for empiric coverage of a presumed gram-negative
urosepsis, and he was aggressively hydrated with intravenous
fluids.

On [**2101-10-21**], his levofloxacin and metronidazole was
discontinued, and he was started on fluconazole given the
growth of yeast on urine culture.  He was taken off of
gentamicin on hospital day three, and his fluconazole was
discontinued on hospital day five (as per the Infectious
Disease Service).  He was taken off of vancomycin on
[**2101-10-28**], and his piperacillin/tazobactam was
discontinued on [**2101-10-29**].

Despite the presumption of a gram-negative urosepsis
precipitating this admission, the patient did not have any
positive blood or urine cultures aside from the growth of
yeast in two urine cultures noted above.  He remained
afebrile both before and after discontinuation of his
antibiotics, and he was found to be Clostridium difficile
negative on [**2101-10-28**].

3.  PULMONARY:  As noted above, the patient was intubated and
he was extubated on [**2101-10-24**].  He subsequently
developed wheezing and mild hypoxia; most likely secondary to
cardiac asthma and fluid overload in the setting of his
aggressive fluid resuscitation.  He was gently diuresed
toward the end of his hospitalization, and by the time of his
he was maintaining an oxygen saturation of greater than 95%
on 2 liters nasal cannula, intermittent ipratropium
nebulizers, and chest physical therapy for clearance of his
respiratory secretions.

4.  RENAL:  The patient presented with acute renal failure
and prerenal azotemia that rapidly resolved following fluid
resuscitation.  By the time of discharge, his serum
creatinine was stable and at his preadmission baseline.

5.  NUTRITION:  The patient was found to be profoundly
malnourished with a serum albumin of 1.8 on admission.  Once
he was extubated and taking orals, he performed poorly on a
modified barium swallowing study and was started on a thin
liquid, ground-solid diet with whole medication tablets,
small bites and sips, upright posture with meals, and
aspiration precautions.  He was also given ProMod shakes with
and between meals for nutritional supplementation of his
heart-healthy/diabetic diet.

6.  VASCULAR:  The patient's operative incisions and foot
ulcers continued to heal throughout this admission.  He was
started on an multivitamin, vitamin C, and zinc for improved
wound healing.

7.  HEMATOLOGY:  The patient was transfused one unit of
packed red blood cells on [**2101-10-27**] to maintain a
hematocrit of greater than 30 given his history of severe
coronary artery disease.  His hematocrit subsequently
remained stable.

CONDITION AT DISCHARGE:  Condition on discharge was stable.

DISCHARGE STATUS:  [**First Name4 (NamePattern1) 1188**] [**Last Name (NamePattern1) **] rehabilitation facility.

DISCHARGE DIAGNOSES:
 1.  Cardiorespiratory arrest.
 2.  Non-Q-wave myocardial infarction.
 3.  Acute renal failure.
 4.  Coronary artery disease with diffuse 3-vessel disease;
right-dominant, status post proximal left circumflex stent in
[**2101-7-9**] with occlusion of distal left circumflex; status
post right coronary artery stent on [**2101-10-27**] (no
percutaneous coronary intervention to 99%, distal left
circumflex, 80% small proximal left anterior descending
artery, 80% small distal left anterior descending artery).
 5.  Congestive heart failure (with an ejection fraction
of 15% to 20%).
 6.  Type 2 diabetes with neuropathy.
 7.  Hypertension.
 8.  Diverticulosis (found on colonoscopy in [**2101-7-9**]).
 9.  Alzheimer's dementia.
10.  History of gastrointestinal bleed (while the patient was
taking eptifibatide).
11.  Cardiac risk factors (with a baseline creatinine
of 1.4 to 1.6).
12.  History of methicillin-resistant Staphylococcus aureus
and Pseudomonas growth in wound cultures.
13.  Severe peripheral vascular disease; status post left
femoral-AT bypass graft on [**2101-10-11**].
14.  Chronic nonhealing foot ulcers.

MEDICATIONS ON DISCHARGE:
 1.  Amiodarone 400 mg p.o. b.i.d. (through [**2101-11-2**]), then 400 mg p.o. q.d. (times one week), then 200 mg
p.o. q.d.
 2.  Metoprolol 50 mg p.o. b.i.d.
 3.  Captopril 6.25 mg p.o. t.i.d.
 4.  Aspirin 325 mg p.o. q.d.
 5.  Pantoprazole 40 mg p.o. q.d.
 6.  Heparin 5000 units subcutaneously b.i.d.
 7.  Multivitamin one tablet p.o. q.d.
 8.  Zinc sulfate 220 mg p.o. q.d.
 9.  Vitamin C 500 mg p.o. q.d.
10.  Ipratropium nebulizers q.4-6h. as needed (for wheezing).
11.  Acetaminophen 325 mg to 650 mg p.o. q.4-6h. as needed
(for pain).
12.  Miconazole 2% powder to groin b.i.d.
13.  Santyl lotion to heels b.i.d.
14.  Regular insulin sliding-scale.

CODE STATUS:  Do not resuscitate/do not intubate.

NOTE:  If applicable, an addendum to this Discharge Summary
will be dictated to include follow-up appointments as well as
any changes to the medication list noted above.






                          [**First Name11 (Name Pattern1) **] [**Last Name (NamePattern4) 1604**], M.D.  [**MD Number(1) 1605**]

Dictated By:[**Name8 (MD) 2507**]

MEDQUIST36

D:  [**2101-10-31**]  01:07
T:  [**2101-11-5**]  03:44
JOB#:  [**Job Number **]

####################  subject id : 3  ####################
PATIENT/TEST INFORMATION:
Indication: S/P Cardiac arrest.  R/O Pericardial effusion.
Height: (in) 69
Weight (lb): 150
BSA (m2): 1.83 m2
BP (mm Hg): 85/40
Status: Inpatient
Date/Time: [**2101-10-21**] at 10:30
Test: Portable TTE(Complete)
Doppler: Complete pulse and color flow
Contrast: None
Technical Quality: Suboptimal


INTERPRETATION:

Findings:

LEFT ATRIUM: The left atrium is normal in size.

RIGHT ATRIUM/INTERATRIAL SEPTUM: The right atrium is normal in size.

LEFT VENTRICLE: Left ventricular wall thicknesses are normal. The left
ventricular cavity size is normal. There is severe regional left ventricular
systolic dysfunction. Overall left ventricular systolic function is severely
depressed.

RIGHT VENTRICLE: Right ventricular chamber size and free wall motion are
normal. The right ventricular wall thickness is normal. Right ventricular
chamber size is normal. Right ventricular systolic function is normal.

AORTIC VALVE: The aortic valve is not well seen.

MITRAL VALVE: The mitral valve leaflets are mildly thickened. There is mild
mitral annular calcification.

PERICARDIUM: There is no pericardial effusion.

GENERAL COMMENTS: Image quality was suboptimal.

Conclusions:
Limited study. No color doppler was performed. The left atrium is normal in
size. Left ventricular wall thicknesses are normal. The left ventricular
cavity size is normal. There is severe regional left ventricular systolic
dysfunction with mid and distal LV akinesis amd re;atove sparing of the base
of the LV. Overall left ventricular systolic function is severely depressed.
Right ventricular chamber size and free wall motion are normal. Right
ventricular chamber size is normal. Right ventricular systolic function is
hard to assess but is probably normal. The aortic valve is not well seen. The
mitral valve leaflets are mildly thickened. There is no pericardial effusion.



####################  subject id : 3  ####################
PATIENT/TEST INFORMATION:
Indication: Left ventricular function.
Height: (in) 70
Weight (lb): 215
BSA (m2): 2.15 m2
BP (mm Hg): 100/60
HR (bpm): 90
Status: Inpatient
Date/Time: [**2101-10-21**] at 11:12
Test: Portable TTE(Complete)
Doppler: Complete pulse and color flow
Contrast: None
Technical Quality: Adequate


INTERPRETATION:

Findings:

LEFT ATRIUM: The left atrium is mildly dilated.

RIGHT ATRIUM/INTERATRIAL SEPTUM: The right atrium is normal in size.

LEFT VENTRICLE: Left ventricular wall thicknesses are normal. The left
ventricular cavity size is normal. There is severe regional left ventricular
systolic dysfunction. Overall left ventricular systolic function is severely
depressed.

LV WALL MOTION: The following resting regional left ventricular wall motion
abnormalities are seen: mid anterior - akinetic; mid anteroseptal - akinetic;
mid inferoseptal - akinetic; mid inferior - akinetic; mid inferolateral -
akinetic; mid anterolateral - akinetic; anterior apex - akinetic; septal apex-
akinetic; inferior apex - akinetic; lateral apex - akinetic; apex - akinetic;

RIGHT VENTRICLE: The right ventricular wall thickness is normal. Right
ventricular chamber size is normal. There is focal hypokinesis of the apical
free wall of the right ventricle.

AORTIC VALVE: The aortic valve leaflets (3) appear structurally normal with
good leaflet excursion and no aortic regurgitation.

MITRAL VALVE: Moderate (2+) mitral regurgitation is seen.

PERICARDIUM: There is no pericardial effusion.

Conclusions:
The left atrium is mildly dilated. Left ventricular wall thicknesses are
normal. The left ventricular cavity size is normal. There is severe regional
left ventricular systolic dysfunction. Overall left ventricular systolic
function is severely depressed. Resting regional wall motion abnormalities
include with inferior and dmid and apical LV akinesis with relative sparing of
the LV. Right ventricular chamber size is normal. Right ventricular systolic
function appears depressed. The aortic valve leaflets (3) appear structurally
normal with good leaflet excursion and no aortic regurgitation. Moderate (2+)
mitral regurgitation is seen. There is no pericardial effusion. There is an
echogenic density in the right ventricle consistent with a Swan-Ganz catheter.

Compared with the prior study of [**2101-10-20**], the LV function is unchanged. There
is now moderate MR seen. The RV function appears worse.



####################  subject id : 3  ####################
Sinus rhythm
P-R interval increased

In [17]:
# check labs data
labs_cohort.head(n=10)

   subject_id  hadm_id  icustay_id            charttime       lab_id  valuenum
0           3   145834      211552  2101-10-20 16:40:00    ANION GAP      17.0
1           3   145834      211552  2101-10-20 16:40:00        BANDS       2.0
2           3   145834      211552  2101-10-20 16:40:00  BICARBONATE      25.0
3           3   145834      211552  2101-10-20 16:40:00          BUN      53.0
4           3   145834      211552  2101-10-20 16:40:00     CHLORIDE      99.0
5           3   145834      211552  2101-10-20 16:40:00   CREATININE       3.2
6           3   145834      211552  2101-10-20 16:40:00      GLUCOSE      91.0
7           3   145834      211552  2101-10-20 16:40:00   HEMATOCRIT      30.2
8           3   145834      211552  2101-10-20 16:40:00   HEMOGLOBIN      10.0
9           3   145834      211552  2101-10-20 16:40:00          INR       1.3

In [16]:
# check vital signs
vitals_cohort_sirs.head(n=10)

   subject_id  hadm_id  icustay_id            charttime  valuenum   vital_id
0           3   145834      211552  2101-10-20 19:15:00     217.0      SysBP
1           3   145834      211552  2101-10-20 19:30:00     151.0  HeartRate
2           3   145834      211552  2101-10-20 19:30:00     102.0      SysBP
3           3   145834      211552  2101-10-20 19:45:00     135.0  HeartRate
4           3   145834      211552  2101-10-20 19:45:00      94.0      SysBP
5           3   145834      211552  2101-10-20 20:00:00     143.0  HeartRate
6           3   145834      211552  2101-10-20 20:00:00      24.0   RespRate
7           3   145834      211552  2101-10-20 20:00:00      78.0      SysBP
8           3   145834      211552  2101-10-20 20:00:00      80.0      SysBP
9           3   145834      211552  2101-10-20 20:15:00     165.0  HeartRate

#### Extract the subject_id of the 1000 subjects with the smallest subject_ids  ####
We will first check the number of unique subject_ids and print aggregates for hadm_id and icd9_code

In [13]:
diagnoses[['subject_id', 'hadm_id','icd9_code']].groupby('subject_id').agg(['count', 'size', 'nunique'])

           hadm_id              icd9_code
             count size nunique     count size nunique
subject_id
3                9    9       1         9    9       9
4                9    9       1         9    9       9
6                8    8       1         8    8       8
9                6    6       1         6    6       6
11               1    1       1         1    1       1
12               9    9       1         9    9       9
13               5    5       1         5    5       5
17              12   12       2        12   12      11
18              13   13       1        13   13      13
19               9    9       1         9    9       9
20               5    5       1         5    5       5
21              39   39       2        39   39      33
22               7    7       1         7    7       7
23              18   18       2        18   18      15
24               4    4       1         4    4       4
25               4    4       1         4    4       4
26               9    9       1         9    9       9
28              11   11       1        11   11      11
30               9    9       1         9    9       9
31               8    8       1         8    8       8
32               8    8       1         8    8       8
33               3    3       1         3    3       3
34              16   16       2        16   16      14
35              11   11       1        11   11      11
36              33   33       3        33   33      22
37               9    9       1         9    9       9
38              13   13       1        13   13      13
41              19   19       1        19   19      19
42               7    7       1         7    7       7
43               3    3       1         3    3       3
...            ...  ...     ...       ...  ...     ...
99894           13   13       1        13   13      13
99897           36   36       2        36   36      26
99899           27   27       1        27   27      27
99901           24   24       1        24   24      24
99903            5    5       1         5    5       5
99912           18   18       1        18   18      18
99913           12   12       1        12   12      12
99922            9    9       1         9    9       9
99923           31   31       2        31   31      28
99928            5    5       1         5    5       5
99934           11   11       1        11   11      11
99935           10   10       1        10   10      10
99936           11   11       1        11   11      11
99937           10   10       1        10   10      10
99938           13   13       1        13   13      13
99939            9    9       1         9    9       9
99944           16   16       1        16   16      16
99946           20   20       1        20   20      20
99955           11   11       1        11   11      11
99957           15   15       1        15   15      15
99965            5    5       1         5    5       5
99966           10   10       1        10   10      10
99973            9    9       1         9    9       9
99982           38   38       3        38   38      23
99983            8    8       1         8    8       8
99985           13   13       1        13   13      13
99991           17   17       1        17   17      17
99992           12   12       1        12   12      12
99995           17   17       1        17   17      17
99999            5    5       1         5    5       5

[38171 rows x 6 columns]

##### Select ids for sample subjects : extract unique subject_ids, then sort and select lowest 1000 #####

In [3]:
#sorted_diagnoses = diagnoses.sort_values(by = 'subject_id')

# extract unique subject ids from diagnoses
unique_subject_ids = diagnoses.subject_id.unique()
print("Number of patients in diagnoses: ", len(unique_subject_ids) )

# sort them
sorted_subject_ids = sorted(unique_subject_ids)

# take 1000 lowest subject ids as sample
sample_subjects = sorted_subject_ids[:1000]

Number of patients in diagnoses:  38171

##### Extract information about the sample ids only to reduce complexity of the subsequent tasks ######

In [4]:
sample_diagnoses = diagnoses.loc[diagnoses['subject_id'].isin(sample_subjects)]
print("Number of records in diagnoses for sample subjects: ", len(sample_diagnoses))

Number of records in diagnoses for sample subjects:  13889

In [6]:
# check how many subjects has at least one entry
len(sample_diagnoses.subject_id.unique())

1000

##### Do the same for all other dataframes #####

In [5]:
# clinical notes
sample_notes_small_cohort_v2 = notes_small_cohort_v2.loc[notes_small_cohort_v2['subject_id'].isin(sample_subjects)]
print("Number of notes for sample subjects: ", len(sample_notes_small_cohort_v2))

# lab results
sample_labs_cohort = labs_cohort.loc[labs_cohort['subject_id'].isin(sample_subjects)]
print("Number of records in labs cohort for sample subjects: ", len(sample_labs_cohort))

# vitals_cohort_sirs
sample_vitals_cohort_sirs = vitals_cohort_sirs.loc[vitals_cohort_sirs['subject_id'].isin(sample_subjects)]
print("Number of records in vital signs for sample subjects: ", len(sample_vitals_cohort_sirs))

Number of notes for sample subjects:  39367
Number of records in labs cohort for sample subjects:  295845
Number of records in vital signs for sample subjects:  599024

##### Check a few variables that are required for SIRS  iodentification #####

In [37]:
print("Lab Ids : ", sample_labs_cohort.lab_id.unique())
print("Vital Ids : ", sample_vitals_cohort_sirs.vital_id.unique())

# 1. The Systemic Inflammatory Response Syndrome (SIRS)

# print a few values of WBC, the given WBC condition is tricky
#print(sample_labs_cohort[sample_labs_cohort['lab_id']=='WBC'].valuenum)

Lab Ids :  ['ANION GAP' 'BANDS' 'BICARBONATE' 'BUN' 'CHLORIDE' 'CREATININE' 'GLUCOSE'
 'HEMATOCRIT' 'HEMOGLOBIN' 'INR' 'PLATELET' 'POTASSIUM' 'PT' 'PTT' 'SODIUM'
 'WBC' 'LACTATE' 'PaCO2' 'ALBUMIN' 'BILIRUBIN']
Vital Ids :  ['SysBP' 'HeartRate' 'RespRate' 'TempC']

#### Systemic Inflammatory Response Syndrome (SIRS) criteria ####

-	Temperature > 38°C or < 36°C ** Variable name ** TempC in vital
-   Heart Rate > 90 ** Variable name ** HeartRate in vital
-   Respiratory Rate > 20 or PaCO2 < 32mmHg ** Variable name ** RespRate in vital and PaCO2 in lab
-   WBC > 12,000/ mm3, < 4000/ mm3, or > 10% bands ** Variable name** WBC in lab

#### SEPSIS criteria ####
-	SIRS criteria + fixed number of ICD9 codes
-   3digitprefixes: '001','002','003','004','005','008',                 '009','010','011','012','013','014','015','016','017','018',                     '020','021','022','023','024','025','026','027','030','031',                     '032','033','034','035','036','037','038','039','040','041',                     '090','091','092','093','094','095','096','097','098','100',                     '101','102','103','104','110','111','112','114','115','116',                     '117','118','320','322','324','325','420','421','451','461',                    '462','463','464','465','481','482','485','486','494','510',                    '513','540','541','542','566','567','590','597','601','614',                   '615','616','681','682','683','686','730'
-   2digitprefixes: '5695','5720','5721','5750','5990','7110', '7907','9966','9985','9993'
-   5digit prefixes: '49121','56201','56203','56211','56213', '56983'

In [6]:
# List of sepsis ICD9 codes
sepsis_codes_3d = ['001','002','003','004','005','008',
                '009','010','011','012','013','014','015','016','017','018',
                '020','021','022','023','024','025','026','027','030','031',
                '032','033','034','035','036','037','038','039','040','041',
                '090','091','092','093','094','095','096','097','098','100',
                '101','102','103','104','110','111','112','114','115','116',
                '117','118','320','322','324','325','420','421','451','461',
                '462','463','464','465','481','482','485','486','494','510',
                '513','540','541','542','566','567','590','597','601','614', 
                '615','616','681','682','683','686','730']
sepsis_codes_4d = ['5695','5720','5721','5750','5990','7110', '7907','9966','9985','9993']
sepsis_codes_5d = ['49121','56201','56203','56211','56213', '56983']

##### SIRS and SEPSIS Status #####
###### Running Variables ######
As charttime data is too precise and there might be a lag between **lab data** and **vital data**, the safe way would be to save a running status of the variables responsible for SIRS. This will solve two problems at once, small change or mismatch in time-stamp would not affect the SIRS status, on the other hand, this approach also takes care of missing values. If at a certain timestamp, either lab data or vital data is missing, the previous value would be taken.

In [7]:
# for each subject, create the analytic data set
Patient_Timeline_data = pd.DataFrame(data=[], columns=['subject_id', 
                                                        'hadm_id', 'icustay_id', 'charttime', 'sirs', 'sepsis'])

# for each subject, create the analytic data set
for sub_id in sample_subjects[0:2]:
    print("##--------------------------##")
    print("      subject ID : ", sub_id)
    # select diagnoses
    diag = diagnoses[diagnoses['subject_id']==sub_id]
    vital = sample_vitals_cohort_sirs[sample_vitals_cohort_sirs['subject_id']==sub_id]
    lab = sample_labs_cohort[sample_labs_cohort['subject_id']==sub_id]
    patient_time_line = []
    #single_pat_data = pd.DataFrame(data=[], columns=['subject_id', 'hadm_id', 'icustay_id', 'charttime', 'sir', 'sepsis'])
    #result = pd.merge(vital, lab, on=['subject_id', 'hadm_id', 'icustay_id', 'charttime'], how='outer')
    
    # read patients data from vital and lab
    for row, v in vital.iterrows():
        #print(v)
        sir = 0 # dummy variable
        sepsis = 0 # dummy variable
        patient_time_line.append([sub_id, v.hadm_id, v.icustay_id, v.charttime, sir, sepsis])
    for row, lb in lab.iterrows():
        sir = 0 # dummy variable
        sepsis = 0 # dummy variable
        patient_time_line.append([sub_id, lb.hadm_id, lb.icustay_id, lb.charttime, sir, sepsis])
        
    # create dataframe to hold a single ptient data
    pat_data = pd.DataFrame(data=np.array(patient_time_line), columns=['subject_id', 
                                                        'hadm_id', 'icustay_id', 'charttime', 'sirs', 'sepsis'])
    # sort by chart time
    pat_data.sort_values(by=['charttime'])
    
    # extract unique time stamps
    unique_charttime = pat_data.charttime.unique()
    unique_charttime = sorted(unique_charttime)
    
    # ###############  Now determine SIR and sepsis status for each time stamp #########
    # ----------------------------------------------------------------------------------
    running_sirs_sepsis_status = [0,0]
    
    # define indicator variables (running)
    # advantage of running indicator is mismatch between lab and vital data could be solved to certain extent
    temp_C = False
    heart_rate = False
    resp_rate = False
    paco2 = False
    wbc = False
    bands = False
    
    sirs_indicators = [temp_C, heart_rate, resp_rate, paco2, wbc, bands]
    for chartt in unique_charttime:
        print(chartt)
        pat_info_t = pat_data[pat_data['charttime']==chartt]
        #print(pat_info_t)
        pat_hadm_id = pat_info_t.iloc[0].hadm_id
        pat_icu_id = pat_info_t.iloc[0].icustay_id
        

        # select the data corresponding to this time stamp
        selected_vital_data = vital[vital['charttime']==chartt]
        selected_lab_data = lab[lab['charttime']==chartt]
        
        # debug to cross verify if conditions are eally met
        #print("####### Vital data ###########")
        #print(selected_vital_data)
        #print("####### Lab data ###########")
        #print(selected_lab_data)

        # check vital data conditions
        for row, d in selected_vital_data.iterrows():
                    if d.vital_id == "TempC":
                        if (d.valuenum > 38.0) or (d.valuenum < 36.0):
                            temp_C = True
                        else:
                            temp_C = False

                    if d.vital_id == "HeartRate":   
                        if (d.valuenum > 90.0):
                            heart_rate = True
                        else:
                            heart_rate = False

                    if d.vital_id == "RespRate":   
                        if (d.valuenum > 20.0):
                            resp_rate = True 
                        else:
                            resp_rate = False 

        # check lab data conditions
        for row, d in selected_lab_data.iterrows():
                    if d.lab_id == "PaCO2":
                        if d.valuenum < 32.0 :
                            paco2 = True
                        else :
                            paco2 = False

                    if d.lab_id == "WBC": 
                        if (d.valuenum > 12000.0) or (d.valuenum < 4000.0):
                            wbc = True
                        else:
                            wbc = False
                        
                    if d.lab_id == "BANDS":    
                            if (d.valuenum < 10.0):
                                bands = True
                            else:
                                bands = False
                                
                                
        sirs_indicators = [temp_C, heart_rate, resp_rate, paco2, wbc, bands]
        #print(temp_C, heart_rate, resp_rate, paco2, wbc, bands)
        
        # Now evaluate conditions
        flag = 0
        if sirs_indicators[0]:
            flag = flag + 1
        if sirs_indicators[1]:
            flag = flag + 1
        if sirs_indicators[2] or sirs_indicators[3]:
            flag = flag + 1        
        if sirs_indicators[4] or sirs_indicators[5]:
            flag = flag + 1 
        
        # if at least two conditions met, declare sirs
        if flag >= 2:
            running_sirs_sepsis_status[0] = 1            
            pat_data.loc[pat_data['charttime']==chartt, 'sirs'] = 1
            
        
            # If SIRS condition is met then only check for sepsis status:
            
            # extract diagnosis codes for this hadm_id
            # this will be required for sepsis
            diagnosis_codes = list(diag[diag['hadm_id']==int(pat_hadm_id)].icd9_code) 
            for c in diagnosis_codes:
                if (c in sepsis_codes_3d) or (c in sepsis_codes_4d) or ((c in sepsis_codes_5d)):
                    running_sirs_sepsis_status[1] = 1
                    pat_data.loc[pat_data['charttime']==chartt, 'sepsis'] = 1
    
    # append to the dataframe containing timeline information about all 1000 sampled patients
    Patient_Timeline_data = pd.concat([Patient_Timeline_data, pat_data])
print(Patient_Timeline_data.head(n=100))
# save in csv format
Patient_Timeline_data.to_csv('analytic_dataset_all_1.csv')

##--------------------------##
      subject ID :  3
2101-10-20 16:40:00
2101-10-20 16:49:00
2101-10-20 19:12:00
2101-10-20 19:14:00
2101-10-20 19:15:00
2101-10-20 19:26:00
2101-10-20 19:30:00
2101-10-20 19:45:00
2101-10-20 19:59:00
2101-10-20 20:00:00
2101-10-20 20:04:00
2101-10-20 20:15:00
2101-10-20 20:30:00
2101-10-20 20:45:00
2101-10-20 21:00:00
2101-10-20 21:15:00
2101-10-20 21:30:00
2101-10-20 21:45:00
2101-10-20 21:51:00
2101-10-20 22:00:00
2101-10-20 22:15:00
2101-10-20 22:30:00
2101-10-20 22:45:00
2101-10-20 23:00:00
2101-10-20 23:15:00
2101-10-21 00:00:00
2101-10-21 00:42:00
2101-10-21 01:00:00
2101-10-21 01:46:00
2101-10-21 01:53:00
2101-10-21 02:00:00
2101-10-21 03:00:00
2101-10-21 03:09:00
2101-10-21 04:00:00
2101-10-21 04:15:00
2101-10-21 05:00:00
2101-10-21 06:00:00
2101-10-21 07:00:00
2101-10-21 07:05:00
2101-10-21 07:34:00
2101-10-21 08:00:00
2101-10-21 08:46:00
2101-10-21 08:51:00
2101-10-21 09:00:00
2101-10-21 10:15:00
2101-10-21 10:23:00
2101-10-21 10:45:00
2101-10-21 11:00:00
2101-10-21 11:30:00
2101-10-21 12:00:00
2101-10-21 13:00:00
2101-10-21 13:30:00
2101-10-21 14:00:00
2101-10-21 15:00:00
2101-10-21 15:48:00
2101-10-21 15:52:00
2101-10-21 16:00:00
2101-10-21 16:30:00
2101-10-21 17:00:00
2101-10-21 17:30:00
2101-10-21 17:33:00
2101-10-21 17:37:00
2101-10-21 18:00:00
2101-10-21 19:00:00
2101-10-21 19:06:00
2101-10-21 20:00:00
2101-10-21 20:12:00
2101-10-21 20:15:00
2101-10-21 20:50:00
2101-10-21 21:00:00
2101-10-21 22:00:00
2101-10-21 23:00:00
2101-10-21 23:27:00
2101-10-21 23:30:00
2101-10-21 23:38:00
2101-10-22 00:00:00
2101-10-22 01:00:00
2101-10-22 01:50:00
2101-10-22 01:54:00
2101-10-22 02:00:00
2101-10-22 02:11:00
2101-10-22 03:00:00
2101-10-22 03:25:00
2101-10-22 04:00:00
2101-10-22 04:30:00
2101-10-22 04:31:00
2101-10-22 04:34:00
2101-10-22 06:00:00
2101-10-22 07:00:00
2101-10-22 07:13:00
2101-10-22 07:14:00
2101-10-22 08:00:00
2101-10-22 09:00:00
2101-10-22 10:00:00
2101-10-22 10:16:00
2101-10-22 11:00:00
2101-10-22 11:21:00
2101-10-22 11:22:00
2101-10-22 12:00:00
2101-10-22 12:45:00
2101-10-22 13:00:00
2101-10-22 13:02:00
2101-10-22 14:00:00
2101-10-22 15:00:00
2101-10-22 15:59:00
2101-10-22 16:00:00
2101-10-22 16:02:00
2101-10-22 17:00:00
2101-10-22 18:00:00
2101-10-22 18:30:00
2101-10-22 19:00:00
2101-10-22 20:00:00
2101-10-22 21:00:00
2101-10-22 21:15:00
2101-10-22 21:20:00
2101-10-22 21:30:00
2101-10-22 22:00:00
2101-10-22 23:00:00
2101-10-23 00:00:00
2101-10-23 01:00:00
2101-10-23 02:00:00
2101-10-23 02:46:00
2101-10-23 02:49:00
2101-10-23 03:00:00
2101-10-23 03:45:00
2101-10-23 04:00:00
2101-10-23 05:00:00
2101-10-23 06:00:00
2101-10-23 07:00:00
2101-10-23 08:00:00
2101-10-23 09:00:00
2101-10-23 10:00:00
2101-10-23 10:10:00
2101-10-23 10:14:00
2101-10-23 10:22:00
2101-10-23 10:30:00
2101-10-23 11:00:00
2101-10-23 12:00:00
2101-10-23 13:00:00
2101-10-23 14:00:00
2101-10-23 15:00:00
2101-10-23 16:00:00
2101-10-23 16:10:00
2101-10-23 16:14:00
2101-10-23 17:00:00
2101-10-23 18:00:00
2101-10-23 19:00:00
2101-10-23 20:00:00
2101-10-23 21:00:00
2101-10-23 22:00:00
2101-10-23 23:00:00
2101-10-24 00:00:00
2101-10-24 01:00:00
2101-10-24 02:00:00
2101-10-24 03:00:00
2101-10-24 03:15:00
2101-10-24 03:18:00
2101-10-24 03:19:00
2101-10-24 04:00:00
2101-10-24 04:30:00
2101-10-24 04:50:00
2101-10-24 04:52:00
2101-10-24 05:00:00
2101-10-24 06:00:00
2101-10-24 07:00:00
2101-10-24 07:44:00
2101-10-24 08:00:00
2101-10-24 09:00:00
2101-10-24 10:00:00
2101-10-24 11:00:00
2101-10-24 11:12:00
2101-10-24 12:00:00
2101-10-24 13:00:00
2101-10-24 13:31:00
2101-10-24 14:00:00
2101-10-24 15:00:00
2101-10-24 16:00:00
2101-10-24 16:30:00
2101-10-24 17:00:00
2101-10-24 18:00:00
2101-10-24 19:00:00
2101-10-24 20:00:00
2101-10-24 21:00:00
2101-10-24 22:00:00
2101-10-24 23:00:00
2101-10-25 00:00:00
2101-10-25 01:00:00
2101-10-25 02:00:00
2101-10-25 03:00:00
2101-10-25 04:00:00
2101-10-25 05:00:00
2101-10-25 06:00:00
2101-10-25 07:00:00
2101-10-25 08:00:00
2101-10-25 09:00:00
2101-10-25 10:00:00
2101-10-25 11:00:00
2101-10-25 12:00:00
2101-10-25 13:00:00
2101-10-25 14:00:00
2101-10-25 15:00:00
2101-10-25 16:00:00
2101-10-25 16:15:00
2101-10-25 16:30:00
2101-10-25 17:00:00
2101-10-25 17:15:00
2101-10-25 17:30:00
2101-10-25 17:45:00
2101-10-25 17:52:00
2101-10-25 18:00:00
2101-10-25 19:00:00
2101-10-25 20:00:00
2101-10-25 21:00:00
2101-10-25 22:00:00
2101-10-25 23:00:00
2101-10-26 00:00:00
2101-10-26 01:00:00
2101-10-26 02:00:00
2101-10-26 03:00:00
2101-10-26 04:00:00
2101-10-26 05:00:00
2101-10-26 06:00:00
2101-10-26 06:25:00
2101-10-26 07:00:00
2101-10-26 08:00:00
2101-10-26 08:50:00
2101-10-26 09:00:00
2101-10-26 10:00:00
2101-10-26 10:15:00
2101-10-26 11:15:00
2101-10-26 12:45:00
2101-10-26 13:00:00
2101-10-26 14:00:00
2101-10-26 15:00:00
2101-10-26 15:30:00
2101-10-26 16:00:00
2101-10-26 17:00:00
2101-10-27 07:56:00
2101-10-28 05:10:00
2101-10-29 04:45:00
2101-10-30 04:30:00
2101-10-31 04:55:00
##--------------------------##
      subject ID :  4
2191-03-15 21:23:00
2191-03-16 01:30:00
2191-03-16 02:00:00
2191-03-16 03:00:00
2191-03-16 04:00:00
2191-03-16 05:00:00
2191-03-16 05:42:00
2191-03-16 06:00:00
2191-03-16 07:00:00
2191-03-16 08:00:00
2191-03-16 09:00:00
2191-03-16 10:00:00
2191-03-16 11:00:00
2191-03-16 12:00:00
2191-03-16 13:00:00
2191-03-16 14:00:00
2191-03-16 15:00:00
2191-03-16 16:00:00
2191-03-16 17:00:00
2191-03-16 18:00:00
2191-03-16 19:00:00
2191-03-16 20:00:00
2191-03-16 21:00:00
2191-03-16 22:00:00
2191-03-16 23:00:00
2191-03-17 00:00:00
2191-03-17 01:00:00
2191-03-17 02:00:00
2191-03-17 04:00:00
2191-03-17 05:00:00
2191-03-17 06:00:00
2191-03-17 08:00:00
2191-03-17 10:00:00
2191-03-17 12:00:00
2191-03-17 14:00:00
2191-03-18 08:00:00
2191-03-19 13:00:00
2191-03-20 05:00:00
2191-03-21 04:30:00
2191-03-22 05:00:00
   subject_id hadm_id icustay_id            charttime sirs sepsis
0           3  145834     211552  2101-10-20 19:15:00    1      0
1           3  145834     211552  2101-10-20 19:30:00    1      0
2           3  145834     211552  2101-10-20 19:30:00    1      0
3           3  145834     211552  2101-10-20 19:45:00    1      0
4           3  145834     211552  2101-10-20 19:45:00    1      0
5           3  145834     211552  2101-10-20 20:00:00    1      0
6           3  145834     211552  2101-10-20 20:00:00    1      0
7           3  145834     211552  2101-10-20 20:00:00    1      0
8           3  145834     211552  2101-10-20 20:00:00    1      0
9           3  145834     211552  2101-10-20 20:15:00    1      0
10          3  145834     211552  2101-10-20 20:15:00    1      0
11          3  145834     211552  2101-10-20 20:15:00    1      0
12          3  145834     211552  2101-10-20 20:15:00    1      0
13          3  145834     211552  2101-10-20 20:30:00    1      0
14          3  145834     211552  2101-10-20 20:30:00    1      0
15          3  145834     211552  2101-10-20 20:30:00    1      0
16          3  145834     211552  2101-10-20 20:30:00    1      0
17          3  145834     211552  2101-10-20 20:45:00    1      0
18          3  145834     211552  2101-10-20 20:45:00    1      0
19          3  145834     211552  2101-10-20 20:45:00    1      0
20          3  145834     211552  2101-10-20 20:45:00    1      0
21          3  145834     211552  2101-10-20 21:00:00    1      0
22          3  145834     211552  2101-10-20 21:00:00    1      0
23          3  145834     211552  2101-10-20 21:00:00    1      0
24          3  145834     211552  2101-10-20 21:00:00    1      0
25          3  145834     211552  2101-10-20 21:15:00    1      0
26          3  145834     211552  2101-10-20 21:15:00    1      0
27          3  145834     211552  2101-10-20 21:15:00    1      0
28          3  145834     211552  2101-10-20 21:30:00    1      0
29          3  145834     211552  2101-10-20 21:30:00    1      0
..        ...     ...        ...                  ...  ...    ...
70          3  145834     211552  2101-10-21 06:00:00    1      0
71          3  145834     211552  2101-10-21 06:00:00    1      0
72          3  145834     211552  2101-10-21 07:00:00    1      0
73          3  145834     211552  2101-10-21 07:00:00    1      0
74          3  145834     211552  2101-10-21 07:00:00    1      0
75          3  145834     211552  2101-10-21 07:00:00    1      0
76          3  145834     211552  2101-10-21 07:05:00    1      0
77          3  145834     211552  2101-10-21 07:05:00    1      0
78          3  145834     211552  2101-10-21 07:05:00    1      0
79          3  145834     211552  2101-10-21 07:05:00    1      0
80          3  145834     211552  2101-10-21 07:34:00    1      0
81          3  145834     211552  2101-10-21 08:00:00    1      0
82          3  145834     211552  2101-10-21 08:00:00    1      0
83          3  145834     211552  2101-10-21 08:00:00    1      0
84          3  145834     211552  2101-10-21 08:00:00    1      0
85          3  145834     211552  2101-10-21 09:00:00    1      0
86          3  145834     211552  2101-10-21 09:00:00    1      0
87          3  145834     211552  2101-10-21 09:00:00    1      0
88          3  145834     211552  2101-10-21 09:00:00    1      0
89          3  145834     211552  2101-10-21 10:15:00    1      0
90          3  145834     211552  2101-10-21 10:15:00    1      0
91          3  145834     211552  2101-10-21 10:15:00    1      0
92          3  145834     211552  2101-10-21 10:15:00    1      0
93          3  145834     211552  2101-10-21 10:45:00    1      0
94          3  145834     211552  2101-10-21 10:45:00    1      0
95          3  145834     211552  2101-10-21 10:45:00    1      0
96          3  145834     211552  2101-10-21 10:45:00    1      0
97          3  145834     211552  2101-10-21 11:00:00    1      0
98          3  145834     211552  2101-10-21 11:00:00    1      0
99          3  145834     211552  2101-10-21 11:00:00    1      0

[100 rows x 6 columns]

In [6]:
#Patient_Timeline_data.to_csv('analytic_dataset_all.csv')
# read data csv format
Patient_Timeline_data = pd.read_csv('analytic_dataset_all.csv')

###### Text based search for sepsis ######
In addition to ICD9 code based status assignment to possible sepsis cases, perform a text based search to designate a case as sepsis. If  there is at least one mention of **sepsis** or **septic** in a clinical note, then we will make the sepsis code as 1, irrespective of ICD9 based status.

As text search is a time consuming task, intentionally, we will not use fancy text processing. Clinical notes are more or less straightforward and it is relatively easy to find a word. Special characters unlikely to cause any problem. 
We will use pandas string methods to do it quickly and efficiently. Make all strings lowercase so avoid problems with capitalization.

In [7]:
for idx, row in Patient_Timeline_data.iterrows():
    # SIRS is a pre-condition for sepsis
    # check SIR first, if sepsis is already 1, no need to check the text
    if (row.sirs == 1) and (row.sepsis == 0):
        if idx % 50000 == 0:
            print(idx)
        sepsis_flag = sample_notes_small_cohort_v2[sample_notes_small_cohort_v2['hadm_id']==row.hadm_id]['note_text'].str.lower().str.contains('sepsis')
        septic_flag = sample_notes_small_cohort_v2[sample_notes_small_cohort_v2['hadm_id']==row.hadm_id]['note_text'].str.lower().str.contains('septic')
        if ((sepsis_flag.sum() + septic_flag.sum()) >=1):
            Patient_Timeline_data.loc[idx, 'sepsis'] = 1
            
            
Patient_Timeline_data.to_csv('analytic_dataset_all_with_text.csv')

0
250000
350000
400000
450000
550000
800000

3

A few Statistics : The number of unique SIRS and sepsis patients

In [8]:
print("Unique SIRS charttimes : ", sum(Patient_Timeline_data['sirs']==1))
print("Unique sepsis charttimes : ", sum(Patient_Timeline_data['sepsis']==1))

print("Unique SIRS subjects : ", len(Patient_Timeline_data[Patient_Timeline_data['sirs']==1].subject_id.unique()))
print("Unique sepsis subjects : ", len(Patient_Timeline_data[Patient_Timeline_data['sepsis']==1].subject_id.unique()))

Unique SIRS charttimes :  582147
Unique sepsis charttimes :  384474
Unique SIRS subjects :  980
Unique sepsis subjects :  418

In [15]:
Patient_Timeline_data[Patient_Timeline_data['sepsis']==1]

,Unnamed: 0,subject_id,hadm_id,icustay_id,charttime,sirs,sepsis
950,0,4,185777,294638,2191-03-16 01:30:00,1,1
951,1,4,185777,294638,2191-03-16 01:30:00,1,1
952,2,4,185777,294638,2191-03-16 02:00:00,1,1
953,3,4,185777,294638,2191-03-16 02:00:00,1,1
959,9,4,185777,294638,2191-03-16 06:00:00,1,1
960,10,4,185777,294638,2191-03-16 07:00:00,1,1
961,11,4,185777,294638,2191-03-16 07:00:00,1,1
962,12,4,185777,294638,2191-03-16 07:00:00,1,1
963,13,4,185777,294638,2191-03-16 08:00:00,1,1
964,14,4,185777,294638,2191-03-16 08:00:00,1,1
965,15,4,185777,294638,2191-03-16 08:00:00,1,1
966,16,4,185777,294638,2191-03-16 08:00:00,1,1
967,17,4,185777,294638,2191-03-16 09:00:00,1,1
968,18,4,185777,294638,2191-03-16 09:00:00,1,1
969,19,4,185777,294638,2191-03-16 09:00:00,1,1
970,20,4,185777,294638,2191-03-16 10:00:00,1,1
971,21,4,185777,294638,2191-03-16 10:00:00,1,1
972,22,4,185777,294638,2191-03-16 10:00:00,1,1
973,23,4,185777,294638,2191-03-16 11:00:00,1,1
974,24,4,185777,294638,2191-03-16 11:00:00,1,1
975,25,4,185777,294638,2191-03-16 11:00:00,1,1
976,26,4,185777,294638,2191-03-16 12:00:00,1,1
977,27,4,185777,294638,2191-03-16 12:00:00,1,1
978,28,4,185777,294638,2191-03-16 12:00:00,1,1
979,29,4,185777,294638,2191-03-16 12:00:00,1,1
980,30,4,185777,294638,2191-03-16 13:00:00,1,1
981,31,4,185777,294638,2191-03-16 13:00:00,1,1
982,32,4,185777,294638,2191-03-16 13:00:00,1,1
983,33,4,185777,294638,2191-03-16 14:00:00,1,1
984,34,4,185777,294638,2191-03-16 14:00:00,1,1
...,...,...,...,...,...,...,...
894839,628,1390,196622,243875,2123-06-29 05:05:00,1,1
894840,629,1390,196622,243875,2123-06-29 05:05:00,1,1
894841,630,1390,196622,243875,2123-06-29 16:10:00,1,1
894842,631,1390,196622,243875,2123-06-30 05:25:00,1,1
894843,632,1390,196622,243875,2123-06-30 05:25:00,1,1
894844,633,1390,196622,243875,2123-06-30 05:25:00,1,1
894845,634,1390,196622,243875,2123-06-30 05:25:00,1,1
894846,635,1390,196622,243875,2123-06-30 05:25:00,1,1
894847,636,1390,196622,243875,2123-06-30 05:25:00,1,1
894848,637,1390,196622,243875,2123-06-30 05:25:00,1,1
894849,638,1390,196622,243875,2123-06-30 05:25:00,1,1
894850,639,1390,196622,243875,2123-06-30 05:25:00,1,1
894851,640,1390,196622,243875,2123-06-30 05:25:00,1,1
894852,641,1390,196622,243875,2123-06-30 05:25:00,1,1
894853,642,1390,196622,243875,2123-06-30 05:25:00,1,1
894854,643,1390,196622,243875,2123-07-01 04:45:00,1,1
894855,644,1390,196622,243875,2123-07-01 04:45:00,1,1
894856,645,1390,196622,243875,2123-07-01 04:45:00,1,1
894857,646,1390,196622,243875,2123-07-01 04:45:00,1,1
894858,647,1390,196622,243875,2123-07-01 04:45:00,1,1
894859,648,1390,196622,243875,2123-07-01 04:45:00,1,1
894860,649,1390,196622,243875,2123-07-01 04:45:00,1,1
894861,650,1390,196622,243875,2123-07-01 04:45:00,1,1
894862,651,1390,196622,243875,2123-07-01 04:45:00,1,1
894863,652,1390,196622,243875,2123-07-02 04:30:00,1,1
894864,653,1390,196622,243875,2123-07-02 04:30:00,1,1
894865,654,1390,196622,243875,2123-07-02 04:30:00,1,1
894866,655,1390,196622,243875,2123-07-02 21:02:00,1,1
894867,656,1390,196622,243875,2123-07-02 21:02:00,1,1
894868,657,1390,196622,243875,2123-07-02 21:02:00,1,1

In [17]:
print(vital.iloc[:5])

   subject_id  hadm_id  icustay_id            charttime  valuenum   vital_id
0           3   145834      211552  2101-10-20 19:15:00     217.0      SysBP
1           3   145834      211552  2101-10-20 19:30:00     151.0  HeartRate
2           3   145834      211552  2101-10-20 19:30:00     102.0      SysBP
3           3   145834      211552  2101-10-20 19:45:00     135.0  HeartRate
4           3   145834      211552  2101-10-20 19:45:00      94.0      SysBP

# Part 2. Data

Read the datasets and print them to understand the variables

In [18]:
# Patient_feature_matrix.csv – the analytic dataset to use for this task
# patient_feature_matrix 3455 x 2400
patient_feature_matrix = pd.read_csv('patient_feature_matrix.csv') 

# Feature_descriptions.csv – descriptions of the features in 
# patient_feature_matrix and their provenance
# feature_descriptions 2438 x 4
feature_descriptions = pd.read_csv('feature_descriptions.csv') 

#Cohort.csv -- contains the index time, exposure time (if any), 
# in-hospital time of death (if any), and the time of censoring 
# (when the patient was released from the hospital)
# cohort 3455 x 8
cohort = pd.read_csv('cohort.csv')

#### Know the data : -> print ####

In [23]:
patient_feature_matrix.head()

,subject_id,death_in_stay,oxy_drop,gender,age_in_days,icd9_ ADENOID CYSTIC CARCINOMA/SDA,icd9_ INTRACTABLE EPILEPSY/SDA,icd9_?AORTIC DISSECTION,icd9_?TIA;IV HEPARIN,icd9_+ETT\CATH,...,chartvalue_815,chartvalue_821,chartvalue_824,chartvalue_825,chartvalue_828,chartvalue_829,chartvalue_833,chartvalue_837,chartvalue_861,chartvalue_87
0,91,died,stable,F,29809.000000,0,0,0,0,0,...,1.50000,1.700000,14.800000,42.400000,77.000000,3.900000,3.040000,144.000000,6.50000,15.0
1,106,died,oxy_drop,M,10358.333333,0,0,0,0,0,...,1.40027,2.600000,14.755973,35.507768,226.000000,3.700000,5.600000,136.000000,26.00000,11.0
2,111,survived,oxy_drop,F,24388.979167,0,0,0,0,0,...,1.40027,2.012763,12.200000,53.500000,208.493109,4.101856,3.535677,139.220795,12.65352,13.0
3,117,died,oxy_drop,F,18224.075000,0,0,0,0,0,...,1.90000,2.300000,17.200000,40.100000,42.000000,5.000000,2.310000,136.000000,7.00000,11.0
4,3,survived,oxy_drop,M,27951.375000,0,0,0,0,0,...,1.50000,2.300000,14.400000,36.200000,359.000000,4.400000,3.300000,138.000000,24.40000,11.0

In [20]:
feature_descriptions.head()

,feature,feature_type,code,description
0,icd9_.ADENOID.CYSTIC.CARCINOMA.SDA,icd9,.ADENOID.CYSTIC.CARCINOMA.SDA,.ADENOID.CYSTIC.CARCINOMA.SDA
1,icd9_.INTRACTABLE.EPILEPSY.SDA,icd9,.INTRACTABLE.EPILEPSY.SDA,.INTRACTABLE.EPILEPSY.SDA
2,icd9_.AORTIC.DISSECTION,icd9,.AORTIC.DISSECTION,.AORTIC.DISSECTION
3,icd9_.TIA.IV.HEPARIN,icd9,.TIA.IV.HEPARIN,.TIA.IV.HEPARIN
4,icd9_.ETT.CATH,icd9,.ETT.CATH,.ETT.CATH

In [21]:
cohort.head()

,subject_id,icustay_id,death_in_stay,deathtime,censor_time,index_time,exposure_time,oxy_drop
0,91,256972,died,2177-05-10 15:16:00,2177-05-10 15:16:00,2177-05-08 00:00:00,NaN,stable
1,106,252051,died,2192-08-15 21:15:00,2192-08-15 21:15:00,2192-08-10 08:00:00,2192-08-14 16:33:00,oxy_drop
2,111,254245,survived,NaN,2142-05-05 11:45:00,2142-04-24 23:30:00,2142-04-25 18:32:00,oxy_drop
3,117,217966,died,2133-12-01 17:00:00,2133-12-01 17:00:00,2133-11-20 01:48:00,2133-11-20 04:05:00,oxy_drop
4,3,211552,survived,NaN,2101-10-31 13:58:00,2101-10-21 09:00:00,2101-10-21 09:46:00,oxy_drop

In [22]:
# see feature types
feature_descriptions.feature_type.unique()

array(['icd9', 'chartindicator', 'chartvalue', 'note CUI', 'demographic',
       'engineered'], dtype=object)